---
layout: default
---

{% include header.html %}

<div id="photo">
    <div id="photo-empty-area"></div>
    <div id="photo-cta-area">
        <h1>Iurii /Yuriy/ Krasnoshchok</h1>
        <h3>Software Engineer, DevOps, Author, Leader, Open Source Maintainer, Geek</h3>
        <h5>nice to e-meet you</h5>
        <ul>
            <li><a href="https://medium.com/@aka.rider" target="_blank"><span class="icon-medium"></span>Read my Blog</a></li>
            <li><a href="https://www.linkedin.com/in/iuriik/" target="_blank"><span class="icon-linkedin"></span>Let's connect on LinkedIn</a></li>
            <li><a href="https://github.com/aka-rider" target="_blank"><span class="icon-github"></span>Fork me on GitHub</a></li>
            <li><a href="https://twitter.com/iurii_k" target="_blank"><span class="icon-twitter"></span>DM me on Twitter</a></li>
            <li><a href="#open-source"><span class="icon-code"></span>Check out my open source projects</a></li>
        </ul>
    </div>
</div>


<section class="text-center">
    <a name="open-source" id="open-source">
        <h2>Open Source Projects</h2>
    </a>
    <div id="open-source-projects">
        <div class="open-source-project-wrap">
            <h3>Cachelot</h3>
            <img src="/assets/img/cachelot.webp" width="256px" height="256px" alt="Cachelot logo" />
            <p>Lightning-fast embeddable LRU cache library and key-value in-memory storage server.</p>
            <div class="open-source-project-wrap-links">
                <a href="https://cachelot.io/" target="_blank" class="button btn-secondary">Read More</a>
                <a href="https://github.com/cachelot/cachelot" class="button btn-primary" target="_blank"><span class="icon-github"></span>GitHub</a>
            </div>
        </div>
        <div class="open-source-project-wrap">
            <h3>nanoQ</h3>
            <img src="/assets/img/go.webp" width="256px" height="256px" alt="Go programming language logo" />
            <p>High-performance brokerless Pub/Sub for streaming real-time data with Golang</p>
            <div class="open-source-project-wrap-links">
                <a href="https://medium.com/aigent/meet-nanoq-high-performance-brokerless-pub-sub-for-streaming-real-time-data-with-golang-6630d3067f4e"
                    target="_blank" class="button btn-secondary">Read More</a>
                <a href="https://github.com/aigent/nq" class="button btn-primary" target="_blank"><span class="icon-github"></span>GitHub</a>
            </div>
        </div>
    </div>
</section>


{% include footer.html %}