---
layout: default
---
{% include header.html %}
<div id="main-photo">
    <div id="main-photo-text">
        <h1>Iurii /Yuriy/ Krasnoshchok</h1>
        <h3>Software Engineering, Perfectionism, and Nerdiness</h3>
        <h3>Pressing buttons professionally since 2001</h3>
    </div>
</div>

<article>
    <h2>Nice to e-meet you</h2>
    <section>
        <div>
            <p>I enjoy programming, writing, learning, music, art, and humor.</p>
            <p>My goal is to make someone's life easier, to do something meaningful, to make an impact.</p>
        </div>
    </section>

    <section>
        <h3>Many can code - I make products happen</h3>
        <div>
            <p>Focused communication and building processes rather than hacking software.</p>
            <p>Able to create teams and lead them to success.</p>
            <p>IT veteran with 20+ years of experience and proved track of successful products.</p>
            <p>Many hats: engineering lead, software developer, product owner, business analyst, project manager, DBA, Consultant, DevOps, SRE, you name it.
            </p>
            <p>Numerous domains: Telecommunications, Fintech, DBMS, multimedia, machine learning, video games.</p>
            <p>Years of uptime.</p>
            <p>High-availability, large-scale server software, as well as desktop and web applications. Distributed systems as well as low-level code.</p>
            <p>Kubernetes, cloud, or bare-metal? — Yes!</p>
        </div>
    </section>

    <section>
        <h3>Superpowers</h3>
        <div>
            <p>Turn complex things into simple.</p>
            <p>Able to translate IT to business and back.</p>
            <p>Accurate ETA.</p>
            <p>Productive meetings.</p>
        </div>
    </section>

    <section>
        <h3>Technical Skills</h3>
        <div>
            <p>Primary programming languages: C++, Python, Go, PL/SQL, bash, C.</p>
            <p>Proficient with: Java, C#, JavaScript, TypeScript, Scala, Erlang, Elm, Lua, Delphi, Pascal, x86 assembler.</p>
            <p>Fluent in Oracle Database Server, MySQL, PostgreSQL — including internal data structures and algorithms (performance tuning, schema design,
                administration, and development).</p>
            <p>Highly experienced in multithreaded applications development and performance tuning.</p>
            <p>Skilled in evolutionary refactoring of huge (legacy) codebases.</p>
            <p>Experienced in distributed applications development, familiar with TCP/IP stack implementation in Linux kernel.</p>
            <p>Modern backend technologies: cloud-based and bare-metal. Docker, Kubernetes, Terraform, Ansible, Prometheus, ELK.</p>
            <p>System administration, DevOps, infrastructure building and automation.</p>
        </div>
    </section>

    <section>
        <h3>Keywords</h3>
        <img src="assets/img/keywordcloud.svg"
            alt="Administration BA C C# C++ Cachelot DBA DBMS Database DevOps Docker ELK Go Grafana HTTP Integration Java JavaScript K8s Kubernetes Linux MacOS MySQL Oracle PostgreSQL Postgres Prometheus Python SQL SQLServer Scala TCP/IP TypeScript UDP VoIP Windows ansible backend bash cmake git golang hiring leadership make management noSQL web" />
    </section>

    <div class="bottom">
        <ul class="contacts">
            <li><a href="mailto:hello@iurii.net" target="_blank"><span class="icon-envelope"></span>Email me</a></li>
            <li><a href="https://www.linkedin.com/in/iuriik/" target="_blank"><span class="icon-linkedin"></span>Let's connect on LinkedIn</a></li>
            <li><a href="https://medium.com/@aka.rider" target="_blank"><span class="icon-medium"></span>Read my Essays</a></li>
            <li><a href="https://twitter.com/iurii_k" target="_blank"><span class="icon-twitter"></span>DM me on Twitter</a></li>
            <li><a href="https://github.com/aka-rider" target="_blank"><span class="icon-github"></span>Fork me on GitHub</a></li>
        </ul>
        <p><a href="https://cachelot.io" target="_blank"><img src="https://cachelot.io/favicon32x32.png" style="float: left; margin: -5px 10px;"
                    alt="Cachelot logo" />
                Cachelot - C/C++ cache library and memcached server</a>
        </p>
        <p><a href="https://github.com/Aigent/nq/" target="_blank">
                <img src="{{site.baseurl}}/assets/img/go-logo.svg" style="float: left; margin: -5px 10px;" width="32" height="32" alt="Golang logo" />
                Nanoq (aka nq) - Golang Pub/Sub for multimedia data streaming</a>
        </p>
        <p><a href="https://ukrainians.nl/pages/financial-support" target="_blank">
                <img src="https://ukrainians.nl/assets/img/favicon.png" style="float: left; margin: -5px 10px;" width="32" height="32"
                    alt="Ukrainians in the Netherlands Foundation logo" />
                #StandWithUkraine 🇺🇦
            </a>
        </p>
    </div>
</article>

{% include footer.html %}