<header id="sticky-header">
    <nav style="width: 90%; margin: 0 auto;">
        <ul id="contacts">
            <li><a href="mailto:hello@iurii.net" target="_blank"><span class="icon-envelope"></span></a></li>
            <li><a href="https://www.linkedin.com/in/iuriik/" target="_blank"><span class="icon-linkedin"></span></a></li>
            <li><a href="https://twitter.com/iurii_k" target="_blank"><span class="icon-twitter"></span></a></li>
            <li><a href="https://medium.com/@aka.rider" target="_blank"><span class="icon-medium"></span></a></li>
            <li><a href="https://github.com/aka-rider/" target="_blank"><span class="icon-github"></span></a></li>
            <li><a href="https://github.com/aka-rider/" target="_blank"><span class="fab fa-telegram"></span></a></li>
        </ul>
    </nav>
</header>