@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,300italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Palanquin:300,400,700);
@import "icons";


html {
    min-height: 100%;
}

body {
    font-size: 2em;
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Roboto';
    text-shadow: none;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: rgb(5, 15, 49);
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bigphoto {
    background-image: url("/assets/img/iurii-1280x800.png");
    min-height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
    padding-right: 1em;
}

ul.contacts {
    list-style-type: none;
    padding-top: 2em;
}

ul.contacts>li>a {
    text-decoration: none;
    color: #293241;
    font-weight: 400;
    text-shadow: 0px 0px 3px white;
}

ul.contacts>li>a>span {
    padding: 1em;
}


h1 {
    font-weight: 700;
    font-family: 'Palanquin';
    color: #293241;
    text-shadow: 0px 0px 3px white;
    margin: 0;
}

h2 {
    font-weight: 400;
    font-family: 'Palanquin';
    text-align: center;
}

section {
    width: 90%;
    text-align: left;
}

section>header {
    background-color: #98c1d9;
}

section>main {
    margin-top: 1em;
    margin-bottom: 1em;
}

section>main>p {
    padding-left: 1.5em;
}

section.left>main {
    border-left: 2px solid #98c1d9;
    margin-left: 1em;
}

section.right>main {
    border-right: 2px solid #98c1d9;
    padding-right: 1em;
    margin-right: 1em;
}

section.left>header {
    border-left: 2em solid #ee6c4d;
    padding: 0.5em 0 0.5em 1em;
    background-color: #98c1d9;
}

section.right>header {
    border-right: 2em solid #ee6c4d;
    padding: 0.5em 3em 0.5em 3em;
    background-color: #98c1d9;
}

.circle {
    border-radius: 50%;
}

footer {
    background-color: #293241;
    text-align: center;
    padding: 1em;
    font-size: .5em;
    color: #98c1d9;
}
footer>a {
    color: #98c1d9;
}


@media only screen and (min-width: 1600px) and (min-height: 1300px) {
    .bigphoto {
        min-height: 1100px;
    }
}

@media only screen and (max-width: 940px) {
    body {
        font-size: 1.3em;
        line-height: 1.2;
    }
    h1 {
        font-size: 1.3em;
    }
    .bigphoto {
        min-height: 500px;
    }
}

@media only screen and (max-width: 640px) {
    .bigphoto {
        background-image: url("/assets/img/iurii-640x500.png");
        min-height: 500px;
    }
}

@media only screen and (max-width: 460px) {
    body {
        font-size: 1em;
        line-height: 1.2;
    }
    h1 {
        font-size: 1.3em;
        margin: 0;
        padding: 0;
    }
    .bigphoto {
        background-image: url("/assets/img/iurii-460x500.png");
        min-height: 460px;
    }
    nav>ul.contacts {
        margin-top: 150px;
    }
    section {
        width: 98%;
    }
}