/* top photo section */
#photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100%;
  min-height: 1200px;
  background-image: url("/assets/img/iurii-2560×1440.webp");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#photo-cta-area {
  padding: 0 2em;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
}

#photo-cta-area h1,
#photo-cta-area h3,
#photo-cta-area h5 {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 1em;
  margin: 0;
}

#photo-cta-area h1 {
  margin-top: 2em;
  color: white;
}

#photo-cta-area h3,
#photo-cta-area h5 {
  font-weight: 400;
  color: var(--light-grey);
}

#photo-cta-area h5 {
  padding-left: 1.5em;
}

#photo-cta-area ul {
  padding: 0.5em 1em;
  background-color: rgba(0, 0, 0, 0.1);
}

#photo-cta-area a {
  color: var(--light-grey);
}

#photo-cta-area a span {
  margin: 0 0.5em 0 0;
  padding: 0;
  color: white;
}

/* open source projects section */

.box-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box-element {
  border: 1px solid var(--light-grey);
  border-radius: var(--border-radius);
  flex-basis: 45%;
  margin-bottom: 20px;
}

.open-source-project-wrap {
  justify-content: center;
}

.open-source-project-wrap img {
  margin: 0;
}

.open-source-project-wrap p {
  min-height: 4em;
}

.open-source-project-wrap-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
  width: 100%;
}

.open-source-project-wrap-links a {
  margin: 0.3em 0.5em;
}

.open-source-project-wrap-links span {
  padding-right: 0.5em;
}

/* professional services section */

.professional-services-wrap {
  background-color: white;
  border: 1px solid var(--grey);
  border-radius: var(--border-radius);
}

/* tech stack section */

#techstack-wrap {
  display: flex;
  flex-wrap: wrap;
}

#techstack-wrap i {
  font-size: 64px;
  vertical-align: middle;
  padding: 0.2em 0.5em;
}

.techstack-misc {
  color: var(--grey);
}

/* responsive */

@media only screen and (max-width: 900px) {
  #photo {
    min-height: 800px;
  }

  .box-element {
    flex-basis: 90%;
  }
}

@media only screen and (max-width: 720px) {
  #photo {
    background-image: url("/assets/img/iurii-720×1280.webp");
    min-height: 1000px;
  }

  #photo-cta-area {
    padding: 0 0.5em;
  }

  #photo-cta-area {
    padding: 0 0.5em;
  }

  #photo-cta-area h1,
  #photo-cta-area h3,
  #photo-cta-area h5,
  #photo-cta-area ul {
    padding: 0 0.5em;
  }

  #open-source-projects {
    flex-direction: column;
  }

  .open-source-project-wrap {
    width: 90%;
  }

  #techstack-wrap i {
    font-size: 32px;
    padding: 0.1em 0.3em;
  }
}

@media only screen and (max-width: 600px) {

  html,
  body {
    font-size: 1em;
  }

  #photo {
    min-height: 750px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }
}