#photo {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 1200px;
  background-image: url("/assets/img/iurii-2560×1440.webp");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#photo-empty-area {
  min-height: 700px;
}

#photo-cta-area {
  padding: 0 2em;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
}

#photo-cta-area h1,
#photo-cta-area h3,
#photo-cta-area h5 {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 1em;
  margin: 0;
}

#photo-cta-area h1 {
  margin-top: 2em;
  color: white;
}

#photo-cta-area h3,
#photo-cta-area h5 {
  font-weight: 400;
  color: var(--light-grey);
}

#photo-cta-area h5 {
  padding-left: 1.5em;
}

#photo-cta-area ul {
  padding: 0.5em 1em;
  background-color: rgba(0, 0, 0, 0.1);
}

#photo-cta-area a {
  color: var(--light-grey);
}

#photo-cta-area a span {
  margin: 0 0.5em 0 0;
  padding: 0;
  color: white;
}

#open-source-projects {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.open-source-project-wrap {
  width: 100%;
  border: 1px solid var(--light-grey);
  border-radius: var(--border-radius);
  margin: 20px;
}

.open-source-project-wrap-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: middle;
  margin: 1em;
}

.open-source-project-wrap-links a {
  margin: 0.5em 1em;
}

.open-source-project-wrap-links span {
  padding-right: 0.5em;
}

@media only screen and (max-width: 880px) {
  #photo {
    background-image: url("/assets/img/iurii-720×1280.webp");
    min-height: 1200px;
  }

  #photo-empty-area {
    min-height: 750px;
  }
  #photo-cta-area {
    padding: 0 0.5em;
  }
  #photo-cta-area {
    padding: 0 0.5em;
  }

  #photo-cta-area h1,
  #photo-cta-area h3,
  #photo-cta-area h5,
  #photo-cta-area ul {
    padding: 0 0.5em;
  }

  #open-source-projects {
    flex-direction: column;
  }

  .open-source-project-wrap {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  #photo {
    min-height: 500px;
  }
  #photo-empty-area {
    min-height: 350px;
  }
}
