---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,300italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Palanquin:300,400,700);
@import url(icons.css);

html {
  min-height: 100%;
}

body {
  font-size: 1.1em;
  font-weight: 300;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-shadow: none;
  margin: 0;
  width: 100%;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: rgb(5, 15, 49);
}

ul {
  list-style-type: none;
}

#main-photo {
  min-height: 800px;
  background-image: url("/assets/img/iurii-1280x800.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -5px;
  text-align: right;
  padding-right: 2em;
}

#main-photo-text {
  float: right;
  text-align: right;
  padding-top: 12em;
}

#main-photo-text h1 {
  background-color: rgba(200, 200, 200, 0.3);
  width: fit-content;
}

#main-photo-text h3 {
  background-color: rgba(200, 200, 200, 0.8);
  padding: 0 1em 0 1em;
}

#sticky-header {
  position: relative;
  top: 0;
  left: 0;
  min-height: 2.5em;
  height: fit-content;
  width: 100%;
  background-color: #293241;
  z-index: 9999;
}

ul#contacts {
  float: right;
  margin: 0;
  font-size: 1.2em;
  padding-top: 0.5em;
}

ul#contacts li {
  display: inline-block;
  padding-left: 1em;
}

ul#contacts li a {
  color: white;
}

ul#contacts li a:hover {
  opacity: 0.7;
}

h1 {
  font-weight: 700;
  font-family: "Palanquin";
}

h2 {
  font-weight: 400;
  font-family: "Palanquin";
  text-align: center;
}

p {
  margin: 1em 0 1em 0;
  padding-left: 1em;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 90%;
}

section {
  width: 90%;
  max-width: 1200px;
  text-align: left;
  background-color: white;
  margin-top: 1em;
  box-shadow: 0 1px 1px #a5a5a5;
}

section > h3 {
  background-color: #98c1d9;
  font-weight: 300;
  font-family: "Palanquin";
  border-left: 4px solid #3d5a80;
  padding: 0.5em 0 0.5em 2em;
  margin: 0;
}

section > main {
  margin: 1em 1em 1em 2px;
  padding-left: 1em;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
  z-index: 9999;
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
}

.top-panel-right {
  margin-left: auto;
  text-align: right;
  padding-right: 3em;
  border: 1px solid red;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom ul li {
  padding: 0 0 0.3em;
}
.bottom ul li a span {
  padding-right: 1em;
}

.circle {
  border-radius: 50%;
}

footer {
  background-color: #293241;
  text-align: center;
  padding: 1em;
  font-size: 0.7em;
  color: #98c1d9;
}
footer > a {
  color: #98c1d9;
}

@media only screen and (min-width: 1600px) and (min-height: 1300px) {
  #main-photo {
    min-height: 1100px;
  }
}

@media only screen and (max-width: 940px) {
  h1 {
    font-size: 1.3em;
  }
  #main-photo {
    min-height: 500px;
  }
}

@media only screen and (max-width: 640px) {
  #main-photo {
    background-image: url("/assets/img/iurii-640x500.png");
    min-height: 500px;
  }
}

@media only screen and (max-width: 460px) {
  body {
    font-size: 1em;
  }
  h1 {
    font-size: 1.3em;
    margin: 0;
    padding: 0;
  }
  #main-photo {
    background-image: url("/assets/img/iurii-460x500.png");
    min-height: 460px;
  }
  #main-photo > ul.contacts {
    margin-top: 150px;
  }
  section {
    width: 98%;
  }
  section > header {
    padding-left: 1em;
  }
}
